.memberSetup{
    position: relative;
    top: 50px;
}
.memberSetup h1{
    text-align: center;
    font-size:4.5rem;
    font-weight: bolder;
    padding: 50px 0px;
}
.card-Title{
    color: #fa8109;
    font-size: 2rem;
}
.cards{
    text-align: center;
    background-color: #222831;
    margin: 50px auto;
}
.card-texttt{
    color: white;
}