*{
    margin: 0%;
}
.navbar{
    background-color: white;
    position: fixed;
    z-index: 20000;
    width: 100%;
}
.menuitems{
    margin-right: 40px;
    margin-top: 10px;
    font-weight: lighter;
    font-size:1.2rem;
    text-align: center;
}
.menuitems:hover{
    color:#D65A31;
}
.logoimage2{
    width: 100px;
    height: 60px;
    border-radius: 10px;
}
@media (max-width:992px) {
    .cardcomponent{
        display: flex;
        justify-content: center;
    }
    .navbar{
        background-color:#fa8109 ;
        position: fixed;
        z-index: 20000;
        width: 100%;
    }
    .menuitems:hover{
        color:white;
    }
    
}