*{
    margin: 0%;
}
.navbar{
    background-color: hsla(180, 10%, 90%, 0.664);
}
.menuitems{
    margin-right: 40px;
    font-weight: lighter;
    font-size:1.2rem;
    text-align: center;
}
.menuitems:hover{
    color:#D65A31;
}
.logoimage1{
    width: 120px;
    height: 80px;
    border-radius: 10px;
}